/* style.module.css */
.card {
    display: flex;
  }
  
  .bannercard {
    background-color: white;
    border-radius: 7px;
    height: 55%;
    width: 15%; /* Adjust the width as needed */
    margin: 10px;
    position: relative;
    left: 150px;
    display: flex; /* Use flex display for the inner container */
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center child elements horizontally */
  }
  
  .imgstyle {
    border-radius: 5px;
    height: 150px;
    text-align: center;
    width: 180px;
    margin: 10px; /* Add margin for spacing between images */
  }
  